body {
	padding: 0px;
	margin: 0px;
    font-family: 'Raleway', sans-serif;
	
}
        .player {
            display: flex;
            justify-content: space-between;
                font-weight: 300;
                font-size: 30px;
        }
.wh{
    color: #fff;
}
.txt_reg {
    font-weight: 300;
    font-size: 60px;
}

header {
  background: url(../img/bg1.jpg) no-repeat center top / cover;
    height: 1080px;
    position: relative;
    border-bottom: 5px solid #4bcaff;
}

.all_div {
padding-top: 50px;
}

.container{
    max-width: 1400px;
}
.timers_div {
   
}

button {
    color: white;
    font-size: 40px;
    border-radius: 11px;
    background-color: slateblue;
    text-transform: none;
}
.but_div button{
background-color: limegreen;
}
.T1{
    color: orangered;
    font-weight: 400;
}
.T2{
    color: deepskyblue;
    font-weight: 400;
}

.btn2 {
    width: 110px;
        color: white;
    font-size: 40px;
    border-radius: 11px;
    background-color: red;
    text-transform: none;
    margin-right: 20px;
}

.play_st {
    width: 1000px;
    padding-bottom: 40px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.play_st p {
    padding-right: 50px;
}

p span:first-child {
    color: yellow;
}

.player_left {
    padding-top: 20px;
    border-top: 5px solid #4bcaff;
}

.but_div {
    padding-bottom: 20px;
}